.airports {
  fill: #000000;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}
.route {
  fill: none;
  stroke-width: 0;
}
.plane {
  stroke-width: 0;
  pointer-events: none;
}
#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
#states {
  fill: lightsteelblue;/* ##aaa;*/
}

.bubble {
 fill-opacity: 0.5;
  stroke: #000000;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
  stroke-width: 2px;
  fill-opacity: 0.9;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
}

.pushdown {
  margin-top: -20px;
  margin-bottom: 20px;
}

.bluehead, .redhead {
  font-family: Lato, sans-serif;
  color:white;
  text-align: center;
  height:200px;
  margin:0;
  padding-top: 35px;
}

.bluehead h2, .redhead h2 {
  font-weight: bold;
  font-size: 2.2em;
}

.redhead {
  background-color: #C0163D; /* C80A07 */
  border-left: 3px solid white;
  border-right: 2px solid white;
}

a {
  color: #042C6A;
  font-weight: bold;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(255, 255, 255, 0.95);
  color: #127094;
  border: 2px solid #127094;
  border-radius: 2px;
  pointer-events: none;
  font-size: 0.9em;
  letter-spacing: 1px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


.bluehead {
  background-color: #042C6A;
  border-left: 2px solid white;
  border-right: 3px solid white;
}

p.bigstat {
  font-size: 1.4em;
}

/* The following are from ~ line 2776 in bootstrap.css */

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default {
  border-color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #FFFFFF;
  border-color: white;
}

