body {
  background-color: #939699;  
}
a, a:hover, a:focus {
  color: #09f;
}

rect#button {
        rx: 2px; /*rounded corners*/              
        ry: 2px;
        stroke: black;
        stroke-width: 1;
        opacity: 0.5;
        fill: url(#button-gradient);
        filter: url(#drop-shadow);
      }
    text {
      fill: black;      
      fill-opacity: 0.9;
      font-family: "Helvetica Neue", arial, sans-serif;
      font-size: 14px;
      text-anchor:middle;
      pointer-events: none;
    }

    rect:hover{
      opacity: 0.9;
    }

    g.button { 
      cursor: pointer; 
    }





.hidden{
  display: none;
}

#animation_toggle {
  float: right;
  }



.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #636669;
  color: #fff;
}
.header, .navbar-inverse {
  background-color: #636669;
  border: 0;
}
.header a {
  color: #fff;
}
.navbar {
  margin-bottom: 0;
}
.logo_line {
  fill: #fff;
}
.content {
  background-color: #fff;
  min-height: 370px;
}
.portfolio, .blog, .about {
  padding-bottom: 30px;  
}
.illustration {
  border: 5px solid #000;
  background-color: #fff;
  margin-top: 30px;
  padding: 30px;
}
.footer {
  color: #fff;
}
.footer a {
  color: #fff;
}
.content p {
  line-height: 200%;
}
.date {
  padding-right: 30px;
}

.label {
  border-radius: 0;
}